.subgroup{
    td:first-child{
        padding-left: 20px !important;
    }
}

.group-title{
    background-color: #D6ECF7;
    cursor: pointer;   
}

.group-title,
.column-title-cell{
    .glyphicon-remove{
        visibility: hidden;
    }
    &:hover{
        .glyphicon-remove{
            visibility: visible;
        }
    }
}

.column-title-cell{
    .column-title{
        cursor: pointer;
        color: #2fa4e7;
        &:hover{
            text-decoration: underline;
        }
    }
}


.glyphicon{
    cursor: pointer;
}


.glyphicon-remove{
    padding-left: 5px;
}


.wrapper {
  position: relative;
}
.firstCell {
  right: 50%;
  position: absolute;
  padding-right: 3%;
  
}
.borderedCell{
    border-right: 1px dotted black;
}
.secondCell {
  position: relative;
  left: 50%;
  padding-left: 3%;
}

.text-center {
    text-align: center;
}

.page-title{
    padding-left: 15px;
}


//Navbar
.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}